.login-box {
    margin-left: 10%;
    width: 75%;
    height: auto;
}

.login-box .login-box-title {
    font-weight: 200;
    font-size: x-large;
    color: #09aff6;
}

.login-box-input {
    border-radius: 5000px;
    width: 700px;
}

.login-box-submit-button {
    width: 100px;
    background-color: #099ddd;
    color: white;
    border-radius: 5000px;
    margin-left: 1%;
}

.login-box-submit-button:hover {
    background-color: #0985c1;
}

.menu-email-check, .menu-code-check, .menu-date-check, .menu-data-check {
    padding: 0.5rem 1rem 1rem 1rem;
}

.close-okno {
    display: inline-block;
    color: #fdfdfd;
    padding: 0 12px;
    margin: 10px;
    background: #099ddd;
    font-size: 14pt;
    border-radius: 5000px;
}

.close-okno:hover {
    background: #097eb4;
    color: #fdfdfd;
}

#book-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main:target {
    display: block;
}

#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#okno {
    background-color: white;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 15px;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: content-box;
}