.contacts {
    background: #48274f;
    box-sizing: content-box;
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contacts .google-maps {
    width: 50%;
    display: inline-block;
    float: left;
}

.contacts .contact-info {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    margin-top: 15px;
}

.contacts .contact-info h3 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.contacts .contact-info .contacts-text {
    color: #ccc;
    font-size: 14px;
    padding: 0 15%;
    text-align: left;
    margin-top: 15px;
}

.contacts .google-maps{
    padding-left: 5px;
    height: 350px;
}

.contact-inside{
    padding-bottom: 2px;
    border-bottom: 1px solid #9f9f9f;
    margin-bottom: 10px;
}

.contact-inside .contact-text-big{
    padding-right: 15%;
    padding-left: 2%;
    font-weight: 700;
}

.contact-inside .contacts-text-small{
    \
}