<div class="one-reservation">
    <span class="service-ed"><%=client.service%></span>
    <span class="data-edit"><%=client.date%> <%=client.time%></span>
    <a href="#"><i class="step fi-pencil size-21"></i></a>
    <a href="#"><i class="step fi-x size-21"></i></a>
</div>