<%



%>


<div class="zatemnenie" id="zatemnenie" style="box-sizing: content-box">
    <div id="okno" class="okno">
        <div class="client-name-submit">
            <p><%=client.name %></p>
            <p>We are waiting for you</p>
            <p> <%=client.date %></p>
            <p> for your <%=client.service %> </p>
            
        </div>
        <a href="#" class="close-okno">Закрыть окно</a>
    </div>
</div>
